@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: 0, 0, 0;
  --background-start-color: 214, 219, 220;
  --background-end-color: 255, 255, 255;
}

[data-theme="dark"] {
  --foreground-color: 255, 255, 255;
  --background-start-color: 0, 0, 0;
  --background-end-color: 50, 50, 50;
}

body {
  color: rgb(var(--foreground-color));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-color)),
    rgb(var(--background-end-color))
  );
  transition: background 0.3s, color 0.3s; /* Smooth transition */
}/* @layer utilities { */
/*   .text-balance { */
/*     text-wrap: balance; */
/*   } */
/* } */
