@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
#__next {
  height: 100%;
}

body {
  @apply transition-all ease-in-out duration-300;
}

[data-theme="light"] {
  @apply bg-light-gradient; /* Apply light theme gradient */
}

[data-theme="dark"] {
  @apply bg-dark-gradient; /* Apply dark theme gradient */
}
