@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set box-sizing and height for HTML and body */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply bg-custom-gradient; /* Apply the custom gradient */
}

#root,
#__next {
  height: 100%;
}

body {
  @apply transition-all ease-in-out duration-300;
}
